// TODO --- Main colors --->
$Orange: #ef9318;
$Dark-Orange: #c97200;

// TODO --- Light mode colors --->
$Gray: #f5f5f5;
$Dark-Gray: #383d42;
$Light-Gray: #fdfdfd;
$Light-Gray2: #6f8ba4;
$Light-Gray3: #e6e6e6;

// TODO --- Black and White --->
$Black: #000000;
$White: #ffffff;

// TODO --- Button colors --->
$Green: green;
$Dark-Green: #006300;
$Red: red;
$Blue: #007bff;

// TODO --- Dark Mode colors --->
$Night-Section: #232323;
$Night-Container: #313131;
$Night-Border: #484848;
$Night-Font: #d2d2d2;
